<h1> Add a new Product</h1>


<form method="post" action="/Product/Add">
    
Name: <input type="text" name="Name" />
Description: <input type="text" name="Description" />
<input type="submit" value="Add a Product" />

</form>