@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>
    @ViewBag.x
</h1>
<h1> @ViewBag.y </h1>
<h2> @ViewData["a"]</h2>
<h3> @TempData["b"] </h3>